<div class="tab-pane fade" style="width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden; padding-right: 0.5%" id="pane-{{makeID annotation}}" role="tabpanel">
	<div class="row" style="margin-bottom: 0.5%">
		<h3 style="width: 100%">Documentation</h3>
	</div>
	<div class="row doc-row">
		<label for="input-{{makeID annotation}}"><strong>Annotation</strong></label>
		<textarea class="form-control locked" readonly annotation="{{annotation}}" field="annotation" id="input-{{makeID annotation}}" rows="0">{{annotation}}</textarea>
	</div>
	<div class="row doc-row">
		<label for="input-{{makeID annotation}}-text"><strong>Title</strong></label>
		<textarea class="form-control locked" readonly annotation="{{annotation}}" field="text" id="input-{{makeID annotation}}-text" rows="0">{{text}}</textarea>
		<div annotation="{{annotation}}" field="text" class="tooltip-wrapper edit" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
			<a href="#input-{{makeID annotation}}-text" annotation="{{annotation}}" field="text" class="btn btn-warning custom-btn edit">
				<i class="fa fa-pencil custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
		<div annotation="{{annotation}}" field="text" class="tooltip-wrapper discard" data-toggle="tooltip" data-placement="top" data-original-title="Discard changes">
			<a href="#input-{{makeID annotation}}-text" annotation="{{annotation}}" field="text" class="btn btn-danger custom-btn discard disabled">
				<i class="fa fa-refresh custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="row doc-row">
		<label for="input-{{makeID annotation}}-study-title">
			<strong>Publication</strong>
		</label>
		<textarea class="form-control locked" readonly annotation="{{annotation}}" field="study_title" id="input-{{makeID annotation}}-study-title" rows="0">{{study_title}}</textarea>
		<div annotation="{{annotation}}" field="study_title" class="tooltip-wrapper edit" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
			<a href="#input-{{makeID annotation}}-study-title" annotation="{{annotation}}" field="study_title" class="btn btn-warning custom-btn edit">
				<i class="fa fa-pencil custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
		<div annotation="{{annotation}}" field="study_title" class="tooltip-wrapper discard" data-toggle="tooltip" data-placement="top" data-original-title="Discard changes">
			<a href="#input-{{makeID annotation}}-study-title" annotation="{{annotation}}" field="study_title" class="btn btn-danger custom-btn discard disabled">
				<i class="fa fa-refresh custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="row doc-row">
		<label for="input-{{makeID annotation}}-study-link">
			<strong>Link to publication</strong>
		</label>
		<textarea class="form-control locked" readonly annotation="{{annotation}}" field="study_link" id="input-{{makeID annotation}}-study-link" rows="0">{{study_link}}</textarea>
		<div annotation="{{annotation}}" field="study_link" class="tooltip-wrapper edit" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
			<a href="#input-{{makeID annotation}}-study-link" annotation="{{annotation}}" field="study_link" class="btn btn-warning custom-btn edit">
				<i class="fa fa-pencil custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
		<div annotation="{{annotation}}" field="study_link" class="tooltip-wrapper discard" data-toggle="tooltip" data-placement="top" data-original-title="Discard changes">
			<a href="#input-{{makeID annotation}}-study-link" annotation="{{annotation}}" field="study_link" class="btn btn-danger custom-btn discard disabled">
				<i class="fa fa-refresh custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="row doc-row">
		<label for="input-{{makeID annotation}}-study-data">
			<strong>Link to data source</strong>
		</label>
		<textarea class="form-control locked" readonly annotation="{{annotation}}" field="study_data" id="input-{{makeID annotation}}-study-data" rows="0">{{study_data}}</textarea>
		<div annotation="{{annotation}}" field="study_data" class="tooltip-wrapper edit" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
			<a href="#input-{{makeID annotation}}-study-data" annotation="{{annotation}}" field="study_data" class="btn btn-warning custom-btn edit">
				<i class="fa fa-pencil custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
		<div annotation="{{annotation}}" field="study_data" class="tooltip-wrapper discard" data-toggle="tooltip" data-placement="top" data-original-title="Discard changes">
			<a href="#input-{{makeID annotation}}-study-data" annotation="{{annotation}}" field="study_data" class="btn btn-danger custom-btn discard disabled">
				<i class="fa fa-refresh custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="row doc-row">
		<label for="input-{{makeID annotation}}-free-text"><strong>Description</strong></label>
		<textarea class="form-control locked" readonly annotation="{{annotation}}" field="free_text" id="input-{{makeID annotation}}-free-text" rows="0">{{free_text}}</textarea>
		<div annotation="{{annotation}}" field="free_text" class="tooltip-wrapper edit" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
			<a href="#input-{{makeID annotation}}-free-text" annotation="{{annotation}}" field="free_text" class="btn btn-warning custom-btn edit">
				<i class="fa fa-pencil custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
		<div annotation="{{annotation}}" field="free_text" class="tooltip-wrapper discard" data-toggle="tooltip" data-placement="top" data-original-title="Discard changes">
			<a href="#input-{{makeID annotation}}-free-text" annotation="{{annotation}}" field="free_text" class="btn btn-danger custom-btn discard disabled">
				<i class="fa fa-refresh custom-btn-icon" aria-hidden="true"></i>
			</a>
		</div>
	</div>
	<div class="row" style="margin-top: 1%; margin-bottom: 1%">
		<h3 style="width: 100%">Annotations</h3>
	</div>
	<table id="table-{{makeID annotation}}" class="table table-sm" style="table-layout: fixed; width: 100%; margin-left: 2%">
		<thead>
			<tr>
				<th style="width: 20%">Annotation</th>
				<th style="width: 15%">Type</th>
				<th style="width: 52%">Description</th>
				<th style="width: 13%"></th>
			</tr>
		</thead>
		<tbody style="width: 100%">
			<tr>
				<td style="word-break: break-word"><code>{{stripRoot annotation}}</code></td>
				<td><code>{{#if type}} {{type}} {{else}} Struct {{/if}}</code></td>
				<td>
					{{#if description}} 
						<textarea class="form-control locked" readonly annotation="{{annotation}}" field="description" id="table-{{makeID annotation}}-description">{{description}}</textarea>	
					{{else}} 
						<a href="#left-nav-{{makeID annotation}}" class="docs-jump-btn">See documentation</a>
					{{/if}}
				</td>
				<td>
					<div annotation="{{annotation}}" field="description" class="tooltip-wrapper edit" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
						<a href="#table-{{makeID annotation}}-description" annotation="{{annotation}}" field="description" class="btn btn-warning custom-btn edit">
							<i class="fa fa-pencil custom-btn-icon" aria-hidden="true"></i>
						</a>
					</div>
					<div annotation="{{annotation}}" field="description" class="tooltip-wrapper discard" data-toggle="tooltip" data-placement="top" data-original-title="Discard changes">
						<a href="#table-{{makeID annotation}}-description" annotation="{{annotation}}" field="description" class="btn btn-danger custom-btn discard disabled">
							<i class="fa fa-refresh custom-btn-icon" aria-hidden="true"></i>
						</a>
					</div>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>