{{#if this}}
<tr>
	<td annotation="{{annotation}}" field="annotation" original="{{annotation}}">{{annotation}}</td>
	<td annotation="{{annotation}}" field="type" original="{{type}}">{{type}}</td>
	<td annotation="{{annotation}}" field="description">{{{makeDescription}}}</td>
	<td annotation="{{annotation}}"><a class="button delete-element" disabled annotation="{{annotation}}"><i class="fa fa-minus"></i></a></td>
</tr>
{{/if}}